name: Deploy Terraform to AWS
on:
  push:
    branches:
      - dev
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Unit testing
        run: |
          python -m pip install --upgrade pip
          pip install -r test/test-requirements.txt
          coverage run -m pytest test/test_extractor.py
          coverage report -m --fail-under=10

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.5.7
      
      - name: Terraform
        run: |
          cd terraform
          terraform init
          terraform plan
          terraform apply --auto-approve
          cd ../